<!DOCTYPE html>
<html>
<head>
  <title>A Moonless Sky</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='skeleton.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body style="overflow: hidden;">
  <div style="display: block; margin: 3% auto;">
    <p style="font-family: 'Comic Sans'; font-size: 200px; text-align: center; margin: 0; line-height: initial;">404</p>
    <p style="font-family: 'Comic Sans'; font-size: 56px; text-align: center; margin: 0; line-height: initial;">Page not found!</p>
    <p style="font-family: 'Comic Sans'; font-size: 24px; text-align: center; margin: 0;">We're unable to find what you were looking for.<br><a href="{{ url_for('index') }}">Return to homepage</a></p>
  </div>
</body>