<!DOCTYPE html>
<html>
<head>
  <title>A Moonless Sky</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='skeleton.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
</head>
<body>
  <div id="navbar" class="topnav">
    {% if current_user.is_authenticated %}
    <a href="{{ url_for('auth.logout') }}">Log out</a>
    {% else %}
    <a href="{{ url_for('auth.register') }}">Register</a>
    <a href="{{ url_for('auth.login') }}">Login</a>
    {% endif %}
    <div class="home-nav-btn">
    <a href="{{ url_for('index') }}">Home</a>
    </div>
    <a href="{{ url_for('discussion.discuss') }}">Discuss</a>
    <a href="{{ url_for('quiz.quiz') }}">Quiz</a>
    <a href="javascript:void(0);" class="icon" onclick="responsive()"><i class="fa fa-bars"></i></a>
  </div>
    <div class="container">
      {% block header %}{% endblock %}
      {% with messages = get_flashed_messages(with_categories=True) %}
      {% for category, message in messages %}
      <p class="{{ category }}" style="font-size: 20px; margin-top: 10px;">{{ message |safe }}</p>
      {% endfor %}
      {% endwith %}
      {% block content %}
      {% endblock %}
    </div>
    <script>
      responsive = () => {
       let nav = document.getElementById("navbar");
       if (nav.className === "topnav") {
         nav.className += " responsive";
       } else {
         nav.className = "topnav";
       }
     }
   </script>
</body>