{% extends 'base.html' %}
{% block header %}
<div class="something">
<h1 style="margin-top: 12px;">Start a new discussion</h1>
{% endblock %}
{% block content %}
<form method="POST">
    <div class="row">
        {{ form.hidden_tag() }}
        <p>Title<br />
          {{ form.title(size=24) }}<br />
          {% for error in form.title.errors %}
          <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </p>
        <p>Description <br>
          {{ form.description(size=24) }}<br>
        </p>
        <p>Content<br />
            {{ form.content(cols='130', rows='20', style="margin-bottom: 0;") }}<br />
            {% for error in form.content.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
            <p style="margin-bottom: 1.5rem;"><i class="fa fa-external-link-square"></i>&nbsp;&nbsp;Supports <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Markdown styling</a></p>
        </p>
        <button class="button-primary" type="submit">Post</button>
</form>
</div>
{% endblock %}