{% extends 'base.html' %}
{% block header %}
<h1 style="margin-top: 12px;">Discussions</h1>
{% endblock %}
{% block content %}
<div class="row">
    <a href="{{ url_for('create_discussion') }}"><button class="button-primary">Start a new discussion</button></a>
    {% for post in discussions %}
    <div class="card">
        <a href="{{ url_for('discuss')}}{{ post.id }}"><h4>{{ post.to_dict()['title'] }}</h4></a>
        <p><strong>@{{ post.to_dict()['posted_by_user'] }}</strong> posted on {{ post.to_dict()['posting_time'] }}</p>
        {{ post.to_dict()['description'] }}
    </div>
    {% endfor %}
</div>
{% endblock %}