{% extends 'base.html' %}
{% block header %}
<h1>{{ title }}</h1>
{% endblock %}
{% block content %}
<div>
<p>Posted by @{{ posted_by_user }}</p>
{% filter markdown %}
{{ content }}
{% endfilter %}
</div>

{% for comment in comments_on_post %}
<div class="comment">
    <p>@{{ comment.to_dict()['comment_author'] }} posted on [time]</p>
    <p>{{ comment.to_dict()['comment'] }}</p>
    {% if current_user.username in comment.to_dict()['liked_by'] %}
    <a href="{{ url_for('unlike_comment', comment_id=comment.id) }}"><i class="fa fa-thumbs-up" style="color: green;"></i></a>
    {% else %}
    <a href="{{ url_for('like_comment', cid=comment.id) }}"><i class="fa fa-thumbs-up"></i></a>
    {% endif %}
</div>
{% endfor %}

<form method="POST">
    {{ form.hidden_tag() }}
    <p>Comment<br />
        {{ form.comment(size=24) }}<br />
        {% for error in form.comment.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <button class="button-primary" type="submit">Post</button>
</form>
{% endblock %}